section.home .sectionTitle {
  text-transform: uppercase;
}

.viewMore {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}

.viewMore:hover {
  color: var(--second);
}

@media only screen and (max-width: 600px) {
  .viewMore {
    font-size: 1rem;
  }

  .sectionTitle {
    font-size: 1.3rem;
  }
}
