* {
  maring: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0d171f;
  --second: #0998a8;
  --bgColor: #192938;
}

h1,
h2,
h4,
p {
  color: #fff;
}

body {
  position: relative;
  background: var(--bgColor);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
